<section class="restaurants-container">
    {{#each restaurants}}
        <article >
            <img src="{{this.image}}"/>
            <h2>{{this.name}}</h2>
        </article>
    {{/each}}
</section>