<div>
	<h2>Single restaurant: {{restaurant.name}}</h2>
	<img class="item-img" src="{{restaurant.image}}" /><br>
	<a class="btn" href="/menus">See Menu List</a>
</div>




{{!-- <section>
    {{#each restaurants}}
        <article>
            <img src="{{this.image}}"/>
            <h2>{{this.name}}</h2>
        </article>
    {{/each}}
</section> --}}